.pragraph_text{
    color: gray;
}
.buy_now_button{
    background-color: black;
    color:white ;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}
.background_image{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.side_backgroundF{
    background-image: url();
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card{
    border: none;
    
}

.see_all_area{
    padding: 100px 0px;
    
}
.smartphone_color{
    color: orange;
    
}
.price_center{
    text-align: center;
}
.Categories{
    text-align: center;
    
    padding: 100px 0 50px ;
}



